<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="120000000" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
